$primaryColor: #0d6efd;
@function fromPXtoVM($width) {
    @return ($width/16) + vw;
}
@function fromPXtoVH($height) {
    @return ($height/7.57) + vh;
}
nav {
    div {
        #navbarSupportedContent {
            ul {
                li {
                    a {
                        &:hover {
                            color: white !important;
                        }
                    }
                }
                ul {
                    li {
                        a {
                            &:hover {
                                background-color: black;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
#inputSearch {
    width: fromPXtoVM(700) !important;
}
.Mac-Book-Pro {
    padding: 0vw fromPXtoVM(310);
}
.textChoose {
    padding: fromPXtoVM(40) fromPXtoVM(470) fromPXtoVM(40) fromPXtoVM(470);
    font-size: fromPXtoVM(40);
}
.btnInches {
    padding: fromPXtoVH(20) fromPXtoVM(580) fromPXtoVH(20) fromPXtoVM(580);
}
.groupCard {
    padding: 0vw fromPXtoVM(280) fromPXtoVM(40) fromPXtoVM(280);
}
.Box {
    padding: fromPXtoVM(40) fromPXtoVM(200) fromPXtoVM(40) fromPXtoVM(200);
    font-size: fromPXtoVM(40);
}
.compare {
    padding: fromPXtoVM(50) fromPXtoVM(200);
    font-size: fromPXtoVM(35);
}
#footer{
    small,a{
        font-size: fromPXtoVM(16);
    }
}